.post_gallery{
    display: flex;
    gap: 12px;
    border: none;
    margin: 12px;
    justify-content: space-around;
    background-color: aqua;
}

.post_gallery-column{
    padding: 30px;
    border: 2px solid red;
}

