@import '../layout/Layout.css';

.rightBar{
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: var(--bg-soft);
}

.rightBar::-webkit-scrollbar{
    display: none;
}

.right_container {
    padding: 20px;
}

.right_item {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--bg);
}

.right_item span{
    color: grey;
}

.right_user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}

.right_userInfo{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.right_userInfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.right_online {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    left: 30px;
}

.rightBar p {
    color: var(--text-color-soft);
}

.right_online span{
    font-weight: 500;
    color: var(--text-color);
}

.right_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right_buttons button{
    color:  #c6e2ff;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    background-color: black;
    border: 1px solid #66FF66;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .rightBar {
        display: none;
    }
}

@media (max-width: 960px) {
    .rightBar {
        display: none;
    }
}


