@import '../layout/Layout.css';

.leftBar {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: var(--bg);
    color: var(--text-color);
}

.leftBar::-webkit-scrollbar{
 display: none;
 }

.left_container{
    padding: 20px;
}

.leftBar hr{
    margin: 20px 0px;
    border: none;
    height: 1.5px;
    background-image: -webkit-linear-gradient(left, rgba(255,2,5,.5), rgba(137,11,138,.5), rgba(27,123,187,.5), rgba(47,195,44,.5), rgba(253,201,1,.5), rgba(255,91,2,.5), #ccc 45%, #ccc 55%, rgba(255,91,2,.5), rgba(253,201,1,.5), rgba(47,195,44,.5), rgba(27,123,187,.5), rgba(137,11,138,.5), rgba(255,2,5,.5));
}

.left_menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.left_menu span{
    font-size: 12px;
}
.left_user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left_user span{
    font-weight: bold;
    color: 	#A7F432;
}

.left_user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: double 4px transparent;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.left_user span{
    font-size: 14px;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

.left_item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.left_item img{
    width: 30px;
}

.left_item span{
    font-size: 14px;
}

@media (max-width: 480px) {
    .leftBar {
        display: none;
    }
}


