@import '../layout/Layout.css';
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Luckiest+Guy&family=Original+Surfer&family=Racing+Sans+One&family=Rubik+Mono+One&family=Single+Day&display=swap');


.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid var(--border);
    /*-webkit-animation: rainbow 5s infinite alternate;*/
    position: sticky;
    top: 0;
    background-color: var(--bg);
    color: var(--text-color);
    z-index: 999;
}

.nav_left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_left span{
    font-family: "Single Day";
    font-weight: bold;
    font-size: 22px;
    line-height: 0px;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}


.nav_search {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

.nav_search input {
    border: none;
    width: 500px;
    background-color: transparent;
    color: var(--text-color);
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav_right_icon{
   color: var(--logo);
    font-size: 30px;
    font-weight: bold;
}

.nav_right span{
    font-weight: bold;
    text-transform: uppercase;
    border: 2px double var(--border);
    border-radius: 5px;
    padding: 5px;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

.nav_right_logout{
    text-decoration: none;
    color: var(--border);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

@media (max-width: 480px) {
    .nav_search input {
        display: none;
    }
    .nav_right {
        display: none;
    }
}

@media (max-width: 960px) {
    .nav_search input {
        width: 200px;
    }
    .nav_user{
        display: none;
    }
}